<div class="control">
  <div class="control__relay">
    <img class="control__icon" src="/assets/icons/power.png" alt="">
    <label class="control__switch">
      <input type="checkbox" [checked] = relayState (click) = relayChange()>
      <span class="control__slider"></span>
    </label>
  </div>
  <div class="control__frame">
    <span>{{temperature}} {{humidity}}</span>
  </div>
  <div class="control_button">
    <label class="button _blue" (click)="getTemp">Get Temp</label>
  </div>
</div>
