body {
  height: 100%;
  padding: 0;
  font-family: "FontAwesome", "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #F2F2F2), color-stop(50%, #F2F2F2), color-stop(100%, #F2F2F2));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
}
html {
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  body {
    margin: 8px 0;
  }
}
.page-root {
  width: 50%;
  margin: 30px auto;
  background-color: #fafafa;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .page-root {
    width: 100%;
    margin: 0 auto;
  }
}
.nav {
  display: flex;
  flex-direction: row;
}
.nav__button {
  width: 50%;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  transition: .4s;
}
.nav__button:first-child {
  border-top-left-radius: 5px;
}
.nav__button:last-child {
  border-top-right-radius: 5px;
}
.nav__button._current {
  background-color: #c7c7c7;
}
.nav__button:hover {
  background-color: #c7c7c7;
}
.graph {
  display: flex;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: white;
  border: 0px;
}
.graph__buttons {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  justify-content: space-around;
}
.graph__button {
  height: 100%;
}
.graph__chart {
  opacity: 0;
  transition: 1.5s ease-out;
}
.graph__info {
  opacity: 0;
  transition: 1.5s ease-out;
  align-self: center;
}
.graph__text._orange {
  color: #ff670b;
}
.graph__text._green {
  color: #2ecc71;
}
.control {
  display: flex;
  margin: 10px 20px;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}
.control__frame {
  width: 40%;
  margin: 0 40px;
  background-color: #c7c7c7;
  border-radius: 5px;
  align-self: stretch;
}
.control__relay {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.control__icon {
  align-self: center;
  text-align: -webkit-center;
  width: 34.4px;
  height: 34.4px;
  margin-bottom: 5px;
}
.control__button {
  align-self: center;
}
.control__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.control__switch input {
  display: none;
}
.control__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.control__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .control__slider {
  background-color: #207dcc;
}
input:focus + .control__slider {
  box-shadow: 0 0 1px #207dcc;
}
input:checked + .control__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.button {
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  cursor: pointer;
}
.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.button._blue {
  background-color: #207dcc;
  box-shadow: 0px 5px 0px 0px #19518b;
}
.button._blue:hover {
  background-color: #229fff;
}
.button._green {
  background-color: #159e95;
  box-shadow: 0px 5px 0px 0px #0c5a55;
}
.button._green:hover {
  background-color: #0fbdb1;
}
.icon._power {
  background-color: red;
  width: 34px;
  height: 34px;
}
